<!DOCTYPE html>
<html>
  <head>
    <title>Avail Dashboard</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/bower_components/sweetalert/lib/sweet-alert.css">
  </head>
  <% if(typeof page == 'undefined'){page='';} %>
  <!-- <body class="background-dark"> -->
  <body class="background-dark <% if(page== 'docs'){%>docs<%}%>">
    <div id="route-wrapper">
      <%- body %>
    </div>
    <script src="/bower_components/sweetalert/lib/sweet-alert.min.js"></script>
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
