<!DOCTYPE html>
<html>
  <head>
    <title>Zip Business Papers</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/kaufvis/style.css">
    
  </head>
  <!-- <body class="background-dark"> -->
  <body>
    <div id="route-wrapper">
      <%- body %>
    </div>
   
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/kaufvis/kaufvis.js"></script>
   
  </body>
</html>
