body.background-dark{
	background-color:#CCC;
}
body.background-dark.docs{
	background-color:#fff;
}

.page-header {
	margin-left: 0;
}

.tab {
	text-indent:20px;
}

.emps {
	margin-left: 20px;
}

.navbar-nav>li>a {
	top:13px;
}
